* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(3, 23, 82);
    color: whitesmoke;
    padding: 1rem;
    font-size: large;
    line-height: 1.5rem;
}

#canvas {
    margin: 1.5rem 0;
    background-color: black;
}