* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(3, 23, 82);
    color: whitesmoke;
    font-size: large;
}

#canvas {
    margin: 1rem 0 ;
}